@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');


@font-face {
  font-family: 'Futura';
  src: url('../futura/futur.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html {
  scroll-behavior: smooth;
}
/* @font-face {
  font-family: 'futur';
  src: url('/futura/futur.ttf');
} */

body{
  overflow-x: hidden;
  font-family: 'Futura', sans-serif;
}


/* #nav-link{
  font-family: futur;
}
.first-text{
  font-family: "Unbounded", serif;
} */

.nav-link:hover {
  color: #173180;
}

.button {
  position: relative;
  overflow: hidden;
}

.button span {
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.button:hover span {
  transform: translateY(0);
}

/* @media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
} */

